@use "acrylic.scss" as acrylic;

body {
    color: white;
    display:grid;
    margin:0;
    grid-row: 3;
    gap: 0;
    font-family: sans-serif;

    grid-template-columns: auto min(100vw, 360px) auto;
    grid-template-rows: max-content auto;

    .centre { 
        grid-column: 2; 
        display: flex;
        align-items: center;
        height: 100vh;
    }

    @media screen and (min-width: 414px) { /* Tablette */
        grid-template-columns: auto min(500px, 90vw) auto;
        gap: 1rem;
        .centre { padding: 1rem; }
    }

    @media screen and (min-width: 800px) { /* PC */
        grid-template-columns: auto 800px auto;
    }

    .wallpaper {
        background: url(/img/Vagues_sous_la_nuit.svg);
        background-size: cover;
        position: fixed;
        z-index: -11;
        pointer-events: none;
        height: 100vh;
        width: 100vw;
        background-position: center;
    }
    .wrapper{
        width: 100%;
        height: 100%;
        @include acrylic.acrylic;
        border-radius: 1rem;
        display: grid;
        overflow: hidden;
        grid-template-columns: auto;
        grid-template-rows: max-content max-content auto;

        div {
            border: 1px solid;
            border-color: green;
        }

        .scoreboard{
            display:grid;
            justify-items:center;
            align-items: center;
            grid-template-columns: repeat(3, auto);
            .score {
                margin-top: 5%;
                margin-bottom: 5%;
            }
            .chapiter {
                margin-top: 5%;
                margin-bottom: 5%;
            }
            .branch-unlocked {
                margin-top: 5%;
                margin-bottom: 5%;
            }
        }

                
        .story-teller {
            height: 70%;
            display: grid;
            grid-template-columns: repeat(1, auto);
            grid-template-rows: 30vh auto;
            width: 100%;
            .wi {
                text-align: center;
                max-width: 100%;
                .image-story {
                    border-radius: 5vh 5vh 0rem 0rem;
                    max-width: 100%;
                    // width: 80%;
                    height: 100%;
                    align-content: center;
                    max-height: 50vh;
                }
            }

            .text-story {
                @include acrylic.acrylic;
                color: yellow;
                text-align: center;
            }
        }
        

        .sous-wrapper{
            display: grid;
            grid-column: repeat(1,auto);
            margin-top: 0%;
            height: max;
            text-align: center;
            .option1{
                color: crimson;
            }
            .option2{
                color: saddlebrown;
            }
            .option3{
                color: seagreen;
            }
        }

    }
    
}

* { 
    box-sizing: border-box; 
}